.body,
.list,
.header {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #36453b;
    text-align: center;
}

.header,
.list {
    color: #596869;
    background-color: #F5F9E9;
}

.header {
    font-size: 40pt;
    font-weight: bold;
}

.list
{
    font-size: 20pt;
    line-height: 1.4em;
}

img {
    width: 60%;
    height:auto;
}
