.body,
.list,
.header {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.body,
header {
    background-color: #36453b;
    text-align: center;
}

.header,
.list {
    color: #596869;
    background-color: #F5F9E9;
}

.header {
    font-size: 48pt;
    font-weight: bold;
}

.list
{
    font-size: 20pt;
    line-height: 1.4em;
}

img {
    width: 60%;
    height:auto;
}

.ingredients,
.description,
.equipment,
.steps {
    font-size:36pt;
    font-weight:bold;
    color:#36453B;
}

.pagelist {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    line-height: 1.4em;
    color: #596869;
    background-color: #F5F9E9;
    text-align:justify;
}